<font face='arial' size='2'><b>To Email:</b> vijay.chaudhary.19940201@gmail.com,info@adrollubricants.com<br><br><b>Subject:</b> Adrol Lubricants - Enquiry<br><br><b>From:</b> Adrol Lubricants<br><br><b>From Email:</b> no-reply@adrollubricants.com<br><br><center>
				<table width='100%' cellpadding='2' cellspacing='2' bgcolor='#FFCC29' style='color: #fff; text-align:left; border: 2px solid #000;'>
				<tr>
					<td style='padding:15px 15px 15px 15px; font-size: 12px; color: #fff; line-height:1.3; text-align:justify; font-family: Arial,Helvetica,sans-serif;'>Dear Admin,<br><br><b>User Enquiry Details:</b><br><br><b>First Name:</b> ddsad<br><b>Last Name:</b> dsada<br><b>Email:</b> vkvia6@gmai.com<br><b>Phone:</b> 32332332<br><b>Message:</b> dsada<br><br>Thanks,<br>Adrol Team<td>
				</tr>
				</table>
			</center></font>