<font face='arial' size='2'><b>To Email:</b> vijay.chaudhary.19940201@gmail.com,info@adrollubricants.com<br><br><b>Subject:</b> Adrol Lubricants - Enquiry for Connect<br><br><b>From:</b> Adrol Lubricants<br><br><b>From Email:</b> no-reply@adrollubricants.com<br><br><center>
				<table width='100%' cellpadding='2' cellspacing='2' bgcolor='#FFCC29' style='color: #fff; text-align:left; border: 2px solid #000;'>
				<tr>
					<td style='padding:15px 15px 15px 15px; font-size: 12px; color: #fff; line-height:1.3; text-align:justify; font-family: Arial,Helvetica,sans-serif;'>Dear Admin,<br><br><b>User Enquiry Details:</b><br><br><b>Name:</b> ss<br><b>State:</b> <br><b>City/District:</b> ss<br><b>Mobile No.:</b> 3232<br><b>Alternet Mobile No.:</b> 12232<br><b>Address:</b> dddd<br><b>Email:</b> vk@gmail.com<br><b>Enquiry Type:</b> Distributor<br><b>Remarks:</b> dwdwd<br><br>Thanks,<br>Adrol Team<td>
				</tr>
				</table>
			</center></font>