* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

footer{

  background: #2c353e;

}

.fixed-top{

    -webkit-transition: all 0.3s ease;                  

    -moz-transition: all 0.3s ease;                 

    -o-transition: all 0.3s ease;   

    -ms-transition: all 0.3s ease;          

    transition: all 0.3s ease;

}

body {

  /* font-family: 'Oswald', sans-serif; */

  font-family: 'Hind Siliguri', sans-serif;

  font-size: 1rem;

  height: 100%;

}

html {

  scroll-behavior: smooth;

}

p{

  font-family: 'Hind Siliguri', sans-serif;

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {

  color: #FFCC29;

}

.text-danger{

  color:#c52f33;

}

.font-bebas-neue{

  /* font-family: 'Lora', serif; */

  font-family: 'Lora', serif;

}

.ft-4 {

  font-size: 2.4rem;

  font-weight: 500;

}

.ht-100 {

  height: 100vh;

}

.hts-100{

  height: 100vh;

}

.form-design input{

    transition: transform .2s;

}

.form-design input:hover{

    transform:scale(1.05); 

}

.form-design textarea:hover{

    transform:scale(1.05); 

}

.form-design input {

    border-top: 0;

    border-left: 0;

    border-right: 0;

    border-radius: 0;

} 

.form-design textarea {

    border-top: 0;

    border-left: 0;

    border-right: 0;

    border-radius: 0;

} 

.form-design .form-control:focus {

    box-shadow:none;

}

.bg {

  background: url(../images/main-bg.png);

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.about-bg {

  background: url(../images/about-us.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.about-us-panel {

  background: url(../images/about-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.arrow {

  background: url(../images/top-arrrow1.png) no-repeat;

    position: absolute;

    top: -57px;

    width: 124px;

    height: 57px;

    left: 67px;

}

.arrow1 {

  background: url(../images/top-arrrow2.png) no-repeat;

    position: absolute;

    top: -57px;

    width: 124px;

    height: 57px;

    left: 67px;

}

.arrow3 {

  background: url(../images/top-arrrow3.png) no-repeat;

    position: absolute;

    top: -57px;

    width: 124px;

    height: 57px;

    left: 67px;

}

.journey-bg {

  background: url(../images/journey.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.journey-us-panel {

  background: url(../images/journey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.elite-bg {

  background: url(../images/second.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.elite-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.glide-bg {

  background: url(../images/first.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.glide-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.car-glide-bg {

  background: url(../images/car-slide.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.car-glide-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.supreme-bg {

  background: url(../images/car-second.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.supreme-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.car-supreme-bg {

  background: url(../images/golden-supreme.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.car-supreme-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.super-king-bg {

  background: url(../images/super-king.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.super-king-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.synthetic-bg {

  background: url(../images/synthetic.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.synthetic-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.sprint-bg {

  background: url(../images/third.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.sprint-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.passion-bg {

  background: url(../images/adrol-passion.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.passion-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.royal-bg {

  background: url(../images/royal.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.royal-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.scooty-bg {

  background: url(../images/scooty.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.scooty-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.car-bg {

  background: url(../images/cng.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.car-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.threewheeler-bg {

  background: url(../images/three-wheeler.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.threewheeler-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.tractor-glide-bg {

  background: url(../images/agri-glide.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.tractor-glide-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adrol-kissan-bg {

  background: url(../images/adrol-kissan.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-kissan-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adroll-kisaan-utto-bg {

  background: url(../images/adrol-kissan-utto.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adroll-kisaan-utto-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adroll-pso-bg {

  background: url(../images/adrol-pso.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adroll-pso-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.bearing-glide-bg {

  background: url(../images/adrol-bearing-glide.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.bearing-glide-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.red-gel-grease-bg {

  background: url(../images/red-gel-grease.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.red-gel-grease-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adrol-long-run-bg {

  background: url(../images/adrol-long-run.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-long-run-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adroll-ap3-bg {

  background: url(../images/adrol-ap3.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adroll-ap3-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.glide-gear-oil-bg {

  background: url(../images/glide-gear-oil.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.glide-gear-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.adrol-elite-premium-bg {

  background: url(../images/adrol-elite-premium.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-elite-premium-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.elite-gear-bg {

  background: url(../images/elite-gear.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.elite-gear-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.super-power-bg {

  background: url(../images/glide-super-power.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.super-power-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.industrial-gear-bg {

  background: url(../images/industrial-gear.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.industrial-gear-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.industrial-grinding-bg {

  background: url(../images/ADROL-SYNTHETIC-GRINDING-OIL.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.industrial-grinding-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.adrol-gpmo-oil-bg {

  background: url(../images/ADROL-CUTTING-OIL-SOLUBLE-NEAT-SEMI-SYNTHETIC.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-gpmo-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.adrol-rust-oil-bg {

  background: url(../images/ADROL-RUST-PREVENTIVE-OIL.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-rust-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.adrol-cutting-oil-bg {

  background: url(../images/ADROL-GPMO-GENERAL-PURPOSE-MACHINERY-OIL-150-220-320-460.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.adrol-cutting-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.coolant-bg {

  background: url(../images/ADROL-COOLANT-RTU.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.coolant-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.coolant-heavy-bg {

  background: url(../images/ADROL-COOLANT-HEAVY-DUTY.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.coolant-heavy-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.break-oil-bg {

  background: url(../images/ADROL-BRAKE-OIL-DOT4.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.break-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.x-pert-oil-bg {

  background: url(../images/ADROL-X-PERT-HYDRAULIC-OIL-AW-32-46-68.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.x-pert-oil-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.ads-bg {

  background: url(../images/print-ads.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.bg-gallery {

  background: url(../images/bgs-dark.jpg) no-repeat;

  height: auto;

  background-size: cover;

  background-position: center center;

}

.list-styled ul li:before, ul.list-styled li:before {

  content: "\2724";

  font-weight: 900;

  font-size: 21px;

  line-height: 25px;

  color: #ffc412;

  position: absolute;

  left: 125px;

  display: inline-block;

}

.carousel-control-next, .carousel-control-prev{

  width: 36%;

}

.swiper-container {

  width: 100%;

  height: 90vh;

}

.swiper-pagination {

  position: relative;

  text-align: center;

  transition: .3s opacity;

  transform: translate3d(0,0,0);

  z-index: 10;

  top: -45%;

  background: bisque !important;

  z-index: 999999 !important;

  display: block;

  width: 62px;

  height: 20px;

}



.swiper-slide {

  overflow: hidden;

}



.swiper-slide {

  text-align: center;

  font-size: 18px;

  /* Center slide text vertically */

  display: -webkit-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  -webkit-justify-content: center;

  justify-content: center;

  -webkit-box-align: center;

  -ms-flex-align: center;

  -webkit-align-items: center;

  align-items: center;

}



.swiper-slide img {

  display: block;

  width: 769px;

  height: 494px;

  /* object-fit: cover; */

}

.swiper-slide video {

  display: block;

  width: 100%;

  height: 100%;

  object-fit: cover;

}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {

  bottom: 45px !important;

  left: 0;

  width: 100%;

}







video {

  margin-left: calc((100vw - (100vh * 1.7))/2);

  margin-right: calc((100vw - (100vh * 1.7))/2);

  min-height: 100vh;

  min-width: 100vw;

}

.swiper-pagination-bullet {

  width: 37px !important;

  height: 10px !important;

  display: inline-block;

  border-radius: 21px !important;

  background: #000;

  opacity: 1 !important;

}

.swiper-pagination-bullet .active {

  background: rgb(165, 0, 0);

}

:root {

  --swiper-theme-color: #f00 !important;

}



@media (min-aspect-ratio: 16/9) {

  video {

    margin-left: 0;

    margin-right: 0;

  }

}







.magic-ace-bg {

  background: url(../images/magic-ace.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.magic-ace-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.power-bg {

  background: url(../images/power.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.power-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.geo-gas-bg {

  background: url(../images/geo-gas.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.geo-gas-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.truck-glide-bg {

  background: url(../images/truck-glide.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.truck-glide-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.truck-elite-supreme-bg {

  background: url(../images/truck-elitesupreme.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.truck-elite-supreme-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.truck-arbplus-bg {

  background: url(../images/truck-arb-plus.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.truck-arbplus-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.truck-arbturbo-bg {

  background: url(../images/truck-arb-turbo.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.truck-arbturbo-us-panel {

  background: url(../images/grey-panel.png) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}



.product-segment {

  background: #3b0000 url(../images/Product-Segment.jpg) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.director-bg {

  background: url(../images/director-desk.jpg) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.director-panel {

  background: url(../images/director-panel.jpg) no-repeat;

  height: 100%;

  background-size: cover;

  background-position: center center;

}

.oops-bg {

  background: url(../images/oops.gif) no-repeat;

  height: 100vh;

  background-size: cover;

  background-position: center center;

}

.oops-bg h1{

  font-size: 160px;

  margin-top: 126px;

  line-height: 117px;

}

.video-bg {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  object-fit: fill;

  overflow: hidden;

  margin: 0!important;

}





.bg-secondary-grey {

  background-color: #cececf!important;

}

.bg-secondary-grey-still {

  background-color: #d9dada!important;

}

.bdr-radius{

  border-radius: 30px;

}

.ft-48 {

  font-size: 43px;

  font-family: 'Lora', serif;

  line-height: 53px;

  margin-bottom: 0px;

}

.button-rounded-description {

    background-color: #f8aa07 !important;

    background-image: linear-gradient(180deg, #f8aa07 0%, #ffcb08 100%);

    padding: 10px 30px;

    border-radius: 50px;

    font-weight: bold;

    border: none;

    box-shadow: 1px 2px 4px 1px #d0d0d09e;

}





.button-rounded {

    background-color: #f8aa07 !important;

    background-image: linear-gradient(180deg, #f8aa07 0%, #ffcb08 100%);

    padding: 10px 30px;

    border-radius: 50px;

    font-weight: bold;

    border: none;

    box-shadow: 1px 2px 4px 1px #d0d0d09e;

}



.grey-arrow {

  background: url(../images/grey-arrow.png) no-repeat;

  position: absolute;

  top: -45px;

  width: 93px;

  height: 57px;

  left: 78px;

}

.row-flex {

  display: flex;

  flex-wrap: wrap;

}

.product-section:hover .card-set{

    opacity: 1;

}

.card-set {

  content: '';

    background: #242c33;

    width: 100%;

    height: 62px;

    opacity: 0;

    z-index: 1;

    color: #ffffff;

    padding: 9px 17px;

    position: absolute;

    bottom: 0;

    font-weight: 600;

    font-size: 16px;

    border-radius: 0 0 1rem 1rem;

    -webkit-transition: all .8s ease-in-out;  

    -moz-transition: all .8s ease-in-out;  

    -o-transition: all .8s ease-in-out;  

    -ms-transition: all .8s ease-in-out;  

    transition: all .8s ease-in-out;    

}

.v-align-sub{

  vertical-align: sub;

}



.product-section > img {

    /* filter: url(filters.svg#grayscale); */

    filter: gray; /* IE5+ */

    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */

    -webkit-transition: all .8s ease-in-out;  

    -moz-transition: all .8s ease-in-out;  

    -o-transition: all .8s ease-in-out;  

    -ms-transition: all .8s ease-in-out;  

    transition: all .8s ease-in-out;  

    position: relative;

  }



  .product-section > img:hover {

  filter: none;

    -webkit-filter: grayscale(0);

    /* -webkit-transform: scale(1.01); */

  }

  .product-section-flap {

    position: relative;

}





.arrow2 {

  background: url(../images/top-arrrow1.png) no-repeat;

    position: absolute;

    top: -57px;

    width: 124px;

    height: 57px;

    left: 67px;

}

.title-set{

    font-size: 3rem;

    margin-bottom: 0;

    color: #ffffff;

    font-family: 'Lora', serif;

    text-indent: 7px;

    font-weight: 500;



}

.font-set {

  font-size: 4.8rem;

  font-weight: 500;

  color: #ffffff;

  line-height: 65px;

  font-family: 'Lora', serif;

}

.pipe {

  background: #390000;

  width: 300px;

  padding: 6px;

  border-radius: 0 24px 24px 0;

  color: #ffffff;

  font-size: 17px;

  

}



.owl-carousel .owl-wrapper-outer {

    overflow: hidden;

    position: relative;

    width: 100%;

    top: 86px;

}

.pipe2 {

  background: #727271;

  width: 354px;

  padding: 6px 45px;

  border-radius: 0 24px 24px 0;

  text-align: left;

  color: #ffffff;

  font-size: 19px;

  margin-left: -12px;

  font-family: 'Hind Siliguri', sans-serif;

  /* position: absolute;

    left: 0;

    top: 218px; */

}

.pipe-set {

  background: #000000;

  width: 354px;

  padding: 6px 45px;

  border-radius: 0 24px 24px 0;

  text-align: left;

  color: #ffffff;

  font-size: 19px;

  margin-left: -12px;

  font-family: 'Hind Siliguri', sans-serif;

  position: absolute;

    left: 0;

    top: 202px;

}

.pipe-set-about {

  background: #252525;

    width: 354px;

    padding: 6px 45px;

    border-radius: 0px 26px 26px 0;

    text-align: left;

    color: #ffffff;

    font-size: 19px;

    margin-left: -12px;

    font-family: 'Hind Siliguri', sans-serif;

    position: absolute;

    left: 0;

    top: 92px;

}

.pipe-set-car {

  background: #000000;

  width: 354px;

  padding: 6px 45px;

  border-radius: 0 24px 24px 0;

  text-align: left;

  color: #ffffff;

  font-size: 19px;

  margin-left: -12px;

  font-family: 'Hind Siliguri', sans-serif;

  position: absolute;

  left: 0;

  top: 150px;

}



.pipe4 {

  background: #727271;

  width: 320px;

  padding: 6px 45px;

  border-radius: 0 24px 24px 0;

  text-align: left;

  color: #ffffff;

  font-size: 21px;

  position: absolute;

  left: 0;

  top: 111px;

}

.pipe5 {

  background: rgb(0 0 0 / 55%);

  width: 320px;

  padding: 6px;

  border-radius: 0 24px 24px 0;

  text-align: center;

  color: #ffffff;

  font-size: 19px;

  position: absolute;

  left: 0;

  bottom: -65px;

  font-family: 'Hind Siliguri', sans-serif;

}

.brands img {

  position: absolute;

  top: -23px !important;

}



.brands {

  color: #fff;

  position: relative;

  width: 81px !important;

}

.back-button{

    background: black;

    color: #FFFFFF !important;

    border-radius: 50%;

    background-image: linear-gradient(180deg, #353533 0%, #2b2a28 100%);

    padding: 10px 30px;

    border-radius: 50px;

    font-weight: bold;

    border: none;

    box-shadow: 1px 2px 4px 1px #d0d0d09e;

    width: 25%;

}

.enter-button{

  position: absolute;

  z-index: 1;

  bottom: 59px;

  margin: auto;

  font-size: 14px;

  font-weight: 600;

  padding: 5px 17px;

  left: 0;

  text-align: center;

  right: 0;

  background: #727271;

  width: 140px;

  border: 1px solid #ffffff;

  box-shadow: none;

  color: #ffffff !important;

  border-radius: 29px;

  text-decoration: none;

}

.divider {

  height: 12rem;

}

.divider8 {

  height: 8rem;

}

.divider6 {

  height: 6rem;

}

  .divider5 {

    height: 5rem;

}

.accordion-button{

  font-weight: 500;

  color:#0a58ca;

}

.rounded-border-radius{

  border-radius: 1rem!important;

}

.circle {

  position: absolute;

  top: 50%;

  left: 50%;

  width: 390px;

  margin: -251px 0 0 -190px;

  -webkit-animation:spin 14s linear infinite;

  -moz-animation:spin 14s linear infinite;

  animation:spin 14s linear infinite;

}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.nav-set .nav-item {

  margin: 7px 13px;

    font-size: 15px;

    font-weight: 400;

    letter-spacing: 1px;

}

.line{

  line-height: 56px;

  width: 3px;

  background: #ffcc29;

  height: 16px;

  margin-top: 20px;

}

#main-menu .nav-link.active{

  color: #FFCC29 !important;

}

.bg-dark-bg {

  background-color: #2c353e!important;

}

.top-bg{

  background: url(../images/top-bg.png) no-repeat;

  height: 51px;

}

.brand {

  color: #fff;

  position: relative;

  width: 115px;

}

.brand img {

  position: absolute;

  top: -71px;

}

/* carousel */

/* Equal Heights for OwlCarousel 2 */

/* Equal Heights for OwlCarousel 2 */

#owl-demo .item{

  margin: 3px;

}

#owl-demo .item img{

  display: block;

  width: 100%;

  height: auto;

}

.customNavigation{

  text-align: center;

}

.customNavigation{

  position: absolute;

  top: 50%;

}



.prev{

  position: absolute;

    left: -73px;

    top: -64px;

    z-index: 1;

}



.next{

  position: absolute;

    right: -73px;

    top: -64px;

    z-index: 1;

}





.customNavigation a{

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

/* carousel end */

.carousel-wrap {

  margin: 90px auto;

  padding: 0 5%;

  width: 80%;

  position: relative;

}

.card-titles{

  font-size: 20px;

  font-weight: 400;

}

.card-body-set {

  font-size: 17px;

  line-height: 29px;

}

.carousel-control-prev {

  left: -89px;

}

.carousel-control-next {

  right: -89px;

}

.ft-20 {

  font-size: 18px;

    line-height: 33px;

    font-weight: 400;

    color: #505050;

    text-align: left;

}

.ft-61{

  font-size: 51px;

  font-weight: 600;

}

.ft-26{

  font-size: 26px;

  font-family: 'Lora', sans-serif;

}

.ft-36{

  font-size: 36px;

  font-family: 'Lora', sans-serif;

}

.heading {

  font-size: 24px;

  color: #fff;

  margin: 20px 0;

  font-weight: 600;

}



.enquiry-button {

  width: 70px;

  position: fixed;

  right: 56px;

  bottom: 49px;

  z-index: 2;

}

.enquiry-button img{

  width: 70px !important;

  height: 70px !important;

}



.getintouch {

  display: none;

  position: fixed;

    bottom: 9px;

    right: 21px;

    background: #fff9ef;

    width: 334px;

    border-radius: 10px;

    z-index: 9999;

    padding: 21px;

    box-shadow: 0 0 2px 5px rgb(0 0 0 / 10%);

}



.getintouch .form-control {

  display: block;

    width: 100%;

    padding: .375rem .75rem;

    font-weight: 400;

    color: #212529;

    background-color: #fff;

    background-clip: padding-box;

    border: 1px solid #ced4da;

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    border-radius: .25rem;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.getintouch .form-select{

  border: 1px solid #e9ecef;

}

.dark-grey{

  background: #b2b3b3;

}

.bg-light-secondary{

  background:#727271;

}



.getintouch h3 {

  font-size: 28px;

  color: #c52f33;

  margin-bottom: 21px;

}

.getintouch input {

  border: 0;

  border-bottom: 1px solid #cccccc;

  border-radius: 0;

  padding-left: 0;

}





.getintouch textarea {

  border: none;

  border-bottom: 1px solid #cccccc;

  border-radius: 0;

}



.active-form {

  display: block;

}



.bg-blue {

  background: #014C8C;

}

.getintouchBtn {

  width: 100%;

  position: relative;

}



.getintouchBtn button {

  width: 100%;

  background: #c52f33;

  line-height: 30px;

  border: 1px solid #c52f33;

  font-size: 1.3rem;

}

.getintouchBtn button:hover {

  width: 100%;

  background: #972125;

  line-height: 30px;

  border: 1px solid #972125;

}

.text-justify{

  text-align: justify;

}

.scrollbar

{

  float: left;

  height: 444px;

  width: 100%;

  overflow-y: scroll;

  margin-bottom: 25px;

}

/* Slider css */

.video-slider {

  width: 100%;

  height: 100vh;

  background: #444;

  position: relative;

  overflow: hidden;

}



.slide {

  position: absolute;

  top: 0;

  left: 100%;

  height: 100%;

  width: 100%;

  text-align: center;

  overflow: hidden;

}

.slide:first-child {

  left: 0;

}

.video {

  height: 100%;

  width: 100%;

  border: 0;

}

.slide-arrow {

  position: absolute;

  top: 0;

  left: 0;

  height: 45%;

  width: 15%;

  cursor: pointer;

  opacity: 1;

}

.slide-arrow:hover {

  opacity: 1;

}

.slide-arrow:after {

  content: "\21E6";

  text-align: center;

  display: block;

  height: 10%;

  width: 100%;

  position: absolute;

  bottom: 0;

  left: 0;

  font-size: 4em;

  font-weight: bold;

  color:white;

}

.slide-arrow.right:after {

  content: "\21E8";

}



.slide-arrow.right {

  left: auto;

  right: 0;

}

/* Slider css end */

/* gallery */

.photo-gallery {

  background-color:#fdf6e3;

}

.item img {

  border: 3px solid #ffffff;

  border-radius: 8%;

  transition: .5s ease-in-out;

}

.item img:hover {

  transform: scale(1.1);

  border: 5px solid rgb(255 207 0);

  border-radius: 8%;

  transition: .5s ease-in-out;

  box-shadow: -4px 2px 5px 4px #00000038;

}

.amazon {

  position: fixed;

    top: 49%;

    right: 0;

    z-index: 9;

    background: #500406;

    width: 67px;

    height: 67px;

    text-align: center;

    border-radius: 50%;

    padding: 12px;

    border: 0px solid #ffffff;

    box-shadow: -1px 4px 5px 0px #00000047;

}

.amazon:hover{

  background: #ffffff;

  transition: .5s ease-in-out;

}



.flipkart {

    position: fixed;

    top: 61%;

    right: 0;

    z-index: 9;

    background: #500406;

    width: 67px;

    height: 67px;

    text-align: center;

    border-radius: 50%;

    padding: 12px;

    border: 0px solid #ffffff;

    box-shadow: -1px 4px 5px 0px #00000047;

}

.flipkart:hover{

  background: #ffffff;

  transition: .5s ease-in-out;

}



/* fab menu */

.mainop img {

  padding-top: 16px;

}

.fab {

  background-color: transparent;

    height: 64px;

    width: 64px;

    border-radius: 32px;

    transition: height 300ms;

    transition-timing-function: ease;

    position: fixed;

    right: 61px;

    bottom: 133px;

    text-align: center;

    z-index: 9;

    overflow: hidden;

    

}



.fab:hover {

  height: 178px;

}



.fab:hover .mainop {

  transform: rotate(360deg);

}

.bg-radi{

  border-radius: 23px;

}

.hover-class{

    -webkit-transition: -webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

    transition: -webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

    transition: transform .15s ease-in-out,box-shadow .15s ease-in-out;

    transition: transform .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

}



.hover-class:hover{

  transform: translateY(-.33333rem);

}

/* card css */

/* video */

/* Video Slider Start */



.Video_slider {

  position: relative;

  background-color: black;

  height: 100vh;

  width: 100%;

  overflow: hidden;

}



.Video_slider .patch_left {

  width: 120px;

  height: 100%;

  background: #0D8FFF 0% 0% no-repeat padding-box;

  opacity: 0.11;

  position: absolute;

  bottom: -70px;

  left: -105px;

  z-index: 1;

  transform: rotate(-20deg);

}



.Video_slider .patch_right {

  width: 120px;

  height: 100px;

  right: 151px;

  bottom: 0;

  z-index: 1;

  position: absolute;

}



.Video_slider .patch_right::before {

  content: '';

  top: 0;

  left: 0;

  width: 100%;

  height: 100px;

  position: absolute;

  background: url(../img/swoosh_main.png);

  background-size: 100%;

  background-repeat: no-repeat;

}



.Video_slider .patch_right::after {

  content: '';

  left: -20px;

  width: 70%;

  height: 60px;

  position: absolute;

  background: url(../img/swoosh_1.png);

  background-size: 100%;

  background-repeat: no-repeat;

  bottom: 0;

}



.Video_slider video {

  position: absolute;

  top: 50%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: 100%;

    height: 100%;

    object-fit: cover;

  /* z-index: 0; */

  -ms-transform: translateX(-50%) translateY(-50%);

  -moz-transform: translateX(-50%) translateY(-50%);

  -webkit-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

}



.Video_slider .container {

  position: relative;

  /* z-index: 2; */

}



.Video_slider .overlay {

  position: absolute;

  top: 0;

  left: 0;

  height: 100%;

  width: 100%;

  background-color: black;

  opacity: 0.5;

  /* z-index: 1; */

}

.enter {

  position: absolute;

  width: 175px;

  right: 41px;

  /* top: 50%; */

  bottom: 38px;

  border-radius: 50%;

  background: #ffffff33;

}

/* .Video_slider video {

  position: absolute;

  top: 50%;

  left: 60%;

  min-width: auto;

  min-height: 58%;

  width: auto;

  height: auto;

  transform: translateX(-50%) translateY(-65%);

} */

.splash {

  overflow: hidden;

  position: relative;

  display: block;

  width: 100vw;

  height: 100vh;

  min-height: 400px;

}

.splash > video {

  display: block;

  position: absolute;

  z-index: -1;

  width: auto;

  height: 100vh;

  left: 50%;

  top: 0;

  transform: translate(-50%, 0);

}





/* The actual timeline (the vertical ruler) */

.timeline {

  position: relative;

  max-width: 1200px;

  margin: 128px auto;

}



/* The actual timeline (the vertical ruler) */

.timeline::after {

  content: '';

  position: absolute;

  width: 6px;

  background-color: white;

  top: 0;

  bottom: 0;

  left: 50%;

  margin-left: -3px;

}

.containers h2{

    color:#084298;

}



/* Container around content */

.containers {

  padding: 10px 40px;

  position: relative;

  background-color: inherit;

  width: 50%;

}



/* The circles on the timeline */

.containers::after {

  content: '';

  position: absolute;

  width: 25px;

  height: 25px;

  right: -13px;

  background-color: #ffffff;

  border: 4px solid  #d10a01;

  top: 0px;

  border-radius: 50%;

  z-index: 1;

}



/* Place the container to the left */

.left {

  left: 0;

}



/* Place the container to the right */

.right {

  left: 50%;

}



/* Add arrows to the left container (pointing right) */

.left::before {

  content: " ";

  height: 0;

  position: absolute;

  top: 9px;

  width: 0;

  z-index: 1;

  right: 30px;

  border: medium solid white;

  border-width: 10px 0 10px 10px;

  border-color: transparent transparent transparent white;

}



/* Add arrows to the right container (pointing left) */

.right::before {

  content: " ";

  height: 0;

  position: absolute;

  top: 9px;

  width: 0;

  z-index: 1;

  left: 30px;

  border: medium solid white;

  border-width: 10px 10px 10px 0;

  border-color: transparent white transparent transparent;

}



/* Fix the circle for containers on the right side */

.right::after {

  left: -12px;

}



/* The actual content */

.content {

  padding: 20px 30px;

  background-color: white;

  top:-8px;

  position: relative;

  border-radius: 6px;

  box-shadow: 1px 5px 3px 1px #0000000f;

}

.padd-14 {

    padding: 0px 11px;

}





/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {

  /* Place the timelime to the left */

  .timeline {

   

    margin: 29px auto;

}

  

  .timeline::after {

  left: 4px;

  }

  

  /* Full-width containers */

  .containers {

    width: 100%;

    padding-left: 20px;

    padding-right: 1px;

}

  

  /* Make sure that all arrows are pointing leftwards */

  .containers::before {

  left: 10px;

  border: medium solid white;

  border-width: 10px 10px 10px 0;

  border-color: transparent white transparent transparent;

  }



  /* Make sure all circles are at the same spot */

  .left::after, .right::after {

  left: -20px;

  }

  

  /* Make all right containers behave like the left ones */

  .right {

  left: 0%;

  }

}

@media only screen and (min-width: 1040px) {

  .splash > video {

    width: 100%;

    height: auto;

  }

}

/* video end */



#cards_landscape_wrap-2 a{

  text-decoration: none;

  outline: none;

}

#cards_landscape_wrap-2 .card-flyer {

  border-radius: 5px;

}

#cards_landscape_wrap-2 .card-flyer .image-box{

  background: #ffffff;

  overflow: hidden;

  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);

  border-radius: 5px;

}

#cards_landscape_wrap-2 .card-flyer .image-box img{

  -webkit-transition:all .9s ease; 

  -moz-transition:all .9s ease; 

  -o-transition:all .9s ease;

  -ms-transition:all .9s ease; 

  width: 100%;

  height: 200px;

}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img{

  opacity: 0.7;

  -webkit-transform:scale(1.15);

  -moz-transform:scale(1.15);

  -ms-transform:scale(1.15);

  -o-transform:scale(1.15);

  transform:scale(1.15);

}

#cards_landscape_wrap-2 .card-flyer .text-box{

  text-align: center;

}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container{

  padding: 30px 18px;

}

#cards_landscape_wrap-2 .card-flyer{

  background: #FFFFFF;;

  -webkit-transition: all 0.2s ease-in;

  -moz-transition: all 0.2s ease-in;

  -ms-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);

}

#cards_landscape_wrap-2 .card-flyer:hover{

  background: #fff;

  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);

  -webkit-transition: all 0.2s ease-in;

  -moz-transition: all 0.2s ease-in;

  -ms-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;

}

#cards_landscape_wrap-2 .card-flyer .text-box p{

  margin-top: 10px;

  margin-bottom: 0px;

  padding-bottom: 0px; 

  font-size: 14px;

  letter-spacing: 1px;

  color: #000000;

}

#cards_landscape_wrap-2 .card-flyer .text-box h6{

  margin-top: 0px;

  margin-bottom: 4px; 

  font-size: 18px;

  font-weight: bold;

  text-transform: uppercase;

  font-family: 'Roboto Black', sans-serif;

  letter-spacing: 1px;

  color: #00acc1;

}

/* card css end */

.join-hand{

  background: #90000e;

}

.mainop {

  margin: auto;

  width: 64px;

  height: 64px;

  position: absolute;

  bottom: 0;

  right: 0;

  transition: transform 300ms;

  background-color: #d10a01;

  border-radius: 32px;

  z-index: 6;

}



.mainopShadow {

  width: 64px;

  height: 64px;

  border-radius: 32px;

  position: absolute;

  right: 50px;

  bottom: 50px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}



.mainop i {

  margin-top: 16px;

  font-size: 32px;

  color: #fff;

}



.minifab {

  position: relative;

  width: 48px;

  height: 48px;

  border-radius: 24px;

  z-index: 5;

  float: left;

  margin-bottom: 8px;

  margin-left: 8px;

  margin-right: 8px;

  background-color: blue;

  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}



.minifab:hover {

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}



.minifabIcon {

  height: 24px;

  width: 24px;

  margin-top: 12px;

}



.op1 {

  background-color: #344290;

}



.op2 {

  background-color: #0f9d58;

}



/* .op3 {

  background-color: #fb0;

}



.op4 {

  background-color: #dd5145;

}



.op5 {

  background-color: #673ab7;

} */



/* fab menu end */



.photo-gallery p {

  color:#7d8285;

}



.photo-gallery h2 {

  font-weight:bold;

  margin-bottom:40px;

  padding-top:40px;

  color:inherit;

}

.icon-right-set{

    top:0; right: 0; width: auto; z-index: 1; position:absolute;

}



@media (max-width:767px) {

    

    .icon-right-set{

    top:0; right: 0; width: 146px; z-index: 1; position:absolute;

}



    .divider5 {

    height: 3rem;

}

.divider8 {

    height: 3rem;

}

.divider6 {

    height: 3.2rem;

}

    .enter {

    position: absolute;

    width: 175px;

    right: 0;

    left: 0;

    /* top: 50%; */

    bottom: 38px;

    border-radius: 50%;

    background: #ffffff33;

    margin: auto;

}

  .photo-gallery h2 {

    margin-bottom:25px;

    padding-top:25px;

    font-size:24px;

  }

}



.photo-gallery .intro {

  font-size:16px;

  max-width:500px;

  margin:0 auto 40px;

}



.photo-gallery .intro p {

  margin-bottom:0;

}



.photo-gallery .photos {

  padding-bottom:20px;

}



.photo-gallery .item {

  padding-bottom:30px;

}



/* gallery end */

.force-overflow

{

  max-height: 367px;

  padding-right: 25px;

  padding-left: 34px;

}



.carousel-control-prev-icon {

  background-image: url(../images/arrow-left.svg);

}

.carousel-control-next-icon {

  background-image: url(../images/arrow-right.svg);

}

.carousel-control-next-icon, .carousel-control-prev-icon{

  width: 3rem;

  height: 3rem;

}

.carousel-control-next-icon, .carousel-control-next-icon{

  width: 3rem;

  height: 3rem;

}



@media (max-width: 767px) {

    .left {

    left: 35px;

}

  .product-segment {

    background: #3b0000 url(../images/Product-Segment.jpg) no-repeat;

    height: 100%;

  }

 

  .pipe-set {

    background: #727271;

    width: 289px;

    padding: 6px 45px;

    border-radius: 0 24px 24px 0;

    text-align: left;

    color: #ffffff;

    font-size: 16px;

    margin-left: -12px;

    font-family: 'Hind Siliguri', sans-serif;

    position: static;

    left: 0;

    top: 0;

    margin-top: 35px;

}

.pipe-set-about {

    background: #252525;

    width: 289px;

    padding: 6px 45px;

    border-radius: 0 24px 24px 0;

    text-align: left;

    color: #ffffff;

    font-size: 16px;

    margin-left: -12px;

    font-family: 'Hind Siliguri', sans-serif;

    position: relative;

    left: -25px;

    top: 0;

    margin-top: 35px;

}

.pipe-set-car {

  background: #727271;

  width: 354px;

  padding: 6px 45px;

  border-radius: 0 24px 24px 0;

  text-align: left;

  color: #ffffff;

  font-size: 19px;

  margin-left: -12px;

  font-family: 'Hind Siliguri', sans-serif;

  position: static;

  left: 0;

  top: 0;

  margin-top: 35px;

}

.circle {

  position: absolute;

  top: 50%;

  left: 50%;

  width: 275px;

  margin: -170px 0 0 -130px;

  -webkit-animation: spin 14s linear infinite;

  -moz-animation: spin 14s linear infinite;

  -ms-animation: spin 14s linear infinite;

  animation: spin 14s linear infinite;

}

.pipe5 {

  background: rgb(0 0 0 / 55%);

  width: 305px;

  padding: 6px 0 6px 23px;

    border-radius: 0 24px 24px 0;

    text-align: start;

  color: #ffffff;

  font-size: 19px;

  position: absolute;

  left: 0;

  bottom: -65px;

  font-family: 'Hind Siliguri', sans-serif;

}

  

  .pipe4 {

    background: #940000;

    width: 300px;

    padding: 6px;

    border-radius: 0 24px 24px 0;

    text-align: center;

    color: #ffffff;

    font-size: 21px;

    position: absolute;

    left: 0;

    top: 60px;

}

.pipe3 {

  background: rgb(0 0 0 / 55%);

    width: 320px;

    padding: 6px 39px 6px 0px;

    border-radius: 24px 0 0 24px;

    text-align: end;

    color: #ffffff;

    font-size: 19px;

  position: absolute;

  right: 0;

}

.next {

  position: absolute;

  right: 0;

  top: -54px;

  z-index: 1;

}

.prev {

  position: absolute;

  left: 0;

  top: -64px;

  z-index: 1;

}



  .carousel-inner .carousel-item > div {

      display: none;

  }

  .carousel-inner .carousel-item > div:first-child {

      display: block;

  }

  .font-set {

    font-size: 3rem;

    line-height: 59px;

    font-weight: 600;

    margin-bottom: 0;

}

.ft-20 {

  font-size: 16px;

  line-height: 30px;

}

.navbar-dark .navbar-brand {

  color: #fff;

    position: relative;

    width: 57px;

    top: 0;

    left: 1px;

}

.brand img {

  position: absolute;

  top: -22px;

}

.nav-set .nav-item {

  margin: 4px 3px;

}

.hts-100{

  height: 100%;

}

.title-set {

  font-size: 2rem;

  margin-bottom: 0;

  color: #ffffff;

  text-indent: 7px;

  font-weight: 700;

}

.fab {

  background-color: transparent;

  height: 64px;

  width: 64px;

  border-radius: 32px;

  transition: height 300ms;

  transition-timing-function: ease;

  position: fixed;

  right: 41px;

  bottom: 133px;

  text-align: center;

  z-index: 9;

  overflow: hidden;

}



.enquiry-button {

  width: 80px;

  position: fixed;

  right: 27px;

  bottom: 49px;

  z-index: 2;

}

.force-overflow {

  max-height: 325px;

  padding-right: 25px;

  padding-left: 0px;

}

.carousel-control-next {

  right: 0;

}

}



/* .carousel-inner .carousel-item.active,

.carousel-inner .carousel-item-next,

.carousel-inner .carousel-item-prev {

  display: flex;



} */

/* medium and up screens */

@media (min-width: 768px) {

  

  .carousel-inner .carousel-item-end.active,

  .carousel-inner .carousel-item-next {

    transform: translateX(25%);

  }

  

  .carousel-inner .carousel-item-start.active, 

  .carousel-inner .carousel-item-prev {

    transform: translateX(-25%);

  }

}



.carousel-inner .carousel-item-end,

.carousel-inner .carousel-item-start { 

transform: translateX(0);

}







/* csutom */







#style-3::-webkit-scrollbar-track

{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

  -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	/* background-color: #F5F5F5; */

}



#style-3::-webkit-scrollbar

{

	width: 6px;

	/* background-color: #F5F5F5; */

}



#style-3::-webkit-scrollbar-thumb

{

	background-color: rgb(0 0 0 / 15%);

}



.overlay {

  height: 0%;

  width: 100%;

  position: fixed;

  z-index: 1;

  top: 160px;

  left: 0;

  background-color: rgb(251 249 213);

  overflow-x: hidden;

  overflow-y: auto;

  transition: 0.5s;

}



.overlay-content {

  position: relative;

  top: 25%;

  width: 100%;

  text-align: center;

  margin-top: 30px;

}



.overlay a {

  padding: 8px;

  text-decoration: none;

  font-size: 36px;

  color: #818181;

  display: block;

  transition: 0.3s;

}



.overlay a:hover, .overlay a:focus {

  color: #b30000;

}



.overlay .closebtn {

  position: absolute;

  top: 20px;

  right: 45px;

  font-size: 60px;

  z-index: 9;

}

@media screen and (max-width:768px){

.padd-14 {

    padding: 6px 7px;

}

.pipe5 {

    background: rgb(0 0 0 / 55%);

    width: 320px;

    padding: 6px 25px 5px 25px;

    border-radius: 0 24px 24px 0;

    text-align: left;

    color: #ffffff;

    font-size: 19px;

    position: absolute;

    left: 0;

    bottom: -65px;

    font-family: 'Hind Siliguri', sans-serif;

}

}



@media screen and (max-height: 450px) {

  .overlay a {font-size: 20px}

  .overlay .closebtn {

  font-size: 40px;

  top: 15px;

  right: 35px;

  }

}





/* # Tablet */

@media only screen and (min-width: 768px) {

  .pipe3 {

    background: rgb(0 0 0 / 55%);

    width: auto;

    padding: 6px 56px 7px 56px;

    border-radius: 24px 0 0 24px;

    text-align: center;

    color: #ffffff;

    font-size: 19px;

    position: absolute;

    right: 0;

  }

  .nav-set .nav-item {

    margin: 7px 9px;

      

  }

  .next {

    position: absolute;

    right: -9px;

    top: -64px;

    z-index: 1;

}

.prev {

    position: absolute;

    left: -36px;

    top: -64px;

    z-index: 1;

}

} 



/* # Desktop */

@media only screen and (min-width: 992px){



}



/* # Huge */

@media only screen and (min-width: 1280px) {

  .font-set {

    font-size: 4rem;

    font-weight: 500;

    color: #ffffff;

    line-height: 52px;

    font-family: 'Lora', serif;

}

.pipe5 {

  width: 320px;

  padding: 6px 0 6px 23px;

  border-radius: 0 24px 24px 0;

  text-align: start;

  color: #ffffff;

  font-size: 19px;

  position: absolute;

  left: 0;

  bottom: -48px;

}

.pipe3 {

  background: rgb(0 0 0 / 55%);

  width: 320px;

  padding: 6px 39px 6px 0px;

  border-radius: 24px 0 0 24px;

  text-align: end;

  color: #ffffff;

  font-size: 19px;

  position: absolute;

  right: 0;

}

.ft-20 {

  font-size: 16px;

  line-height: 28px;

  font-weight: 400;

  color: #505050;

  text-align: left;

}

.force-overflow {

  max-height: 248px;

  padding-right: 25px;

  padding-left: 34px;

}

}



/* # Huge */

@media only screen and (min-width: 1400px) {

  

}

.form-design .form-select {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.form-design .form-select{
  transition: transform .2s;
}
.form-design .form-select:hover{
  transform:scale(1.05); 
}

.photo-gallery2 {
  background-color:#c5b280;
}

.photo-gallery1 {
  background-color: #e9e9e9;
}


